.DS_Store
CMakeLists.txt
cmake-build-debug
obj
*.a
.idea
uchat
uchat_server
._.DS_Store
*.o
*.out
*.a
.vscode
client/src/*.cc
server/src/*.cc
./*.json
log.txt
database.db
client_unit_tests/
*.zsh
mycert.pem
